@import "src/n1-main/m1-ui/common/styles/sass/variables";
@import "src/n1-main/m1-ui/common/styles/sass/mixins";


.tableData {
  @include text($fontFamilyText, 13px, 500, 16px, black, left);
  display: grid;
  grid-template-columns: 15% 15% 20% 20% 30%;
  background: #ECECF9;
  align-items: center;
  justify-content: start;

  div {
    margin-left: 24px;
  }
}