@import "src/n1-main/m1-ui/common/styles/sass/variables";
@import "src/n1-main/m1-ui/common/styles/sass/mixins";

.paginatorPage {
  display: flex;
  align-items: center;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  color: #2D2E46;
  list-style: none;
  margin: 24px 0;
  padding: 0;
}

.selectedPage {
  font-weight: bold;
  padding: 4px 6px;
  background-color: $elementsColor;
  color: #E6D4DE;
  border-radius: 2px;
}

.page {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 16px;
}

.page:hover {
  color: #9890C7;
  transition: linear .8s ease-in-out;
  cursor: pointer;
}

.prev, .next {
  font-size: 20px;
}

.next:hover, .prev:hover {
  cursor: pointer;
  color: #21268F;
}

.sortContainer {
  padding-left: 20px;
  color: #2D2E46;
}

.superSelect {
  outline: none;
  margin-left: 10px;
  margin-right: 5px;
  padding: 6px 3px;
  font-size: 16px;
}