@import "src/n1-main/m1-ui/common/styles/sass/variables";
@import "src/n1-main/m1-ui/common/styles/sass/mixins";


.tableData {
  @include text($fontFamilyText, 13px, 500, 16px, black, left);
  display: grid;
  grid-template-columns: 15% 15% 20% 20% 30%;
  background: #ECECF9;
  align-items: center;
  justify-content: start;

  div {
    margin-left: 24px;
  }

  .name {
    text-decoration: none;
    color: black;
  }

  .name:hover {
    transform: scale(1.25);
    color: $elementsColor;
  }

  .buttonsContainer {
    text-align: left;
    display: flex;
    justify-content: flex-start;

    .deleteButton {
      background: #F1453D;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;

      span {
        @include primaryButtonText(5px);
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
      }
    }

    .editLearnButton {
      background: #D7D8EF;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 15px;

      span, a {
        @include primaryButtonText(5px);
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: $elementsColor;
        text-decoration: none;
      }
    }

    .none {
      display: none;
    }

    .deleteButton:disabled, .editLearnButton:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .flexEnd {
    justify-content: flex-end;
  }

  .flexBetween {
    justify-content: space-between;
  }
}


.tableData:nth-child(even) {
  background: #FFFFFF;
}

.tableData:nth-child(odd) {
  background: #F8F7FD;
}
