@import "src/n1-main/m1-ui/common/styles/sass/variables.scss";
@import "src/n1-main/m1-ui/common/styles/sass/mixins.scss";

.newPasswordContainer {
  height: 100vh;
  background: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    flex-basis: 413px;
    background: $bgCard;
    border-radius: 8px;

    .title {
      @include text($fontFamilyTitle, 26px, 600, 39px, $textColor, center);
      margin: 25px 0 32px;
    }

    .subtitle {
      @include text($fontFamilyTitle, 22px, 600, 33px, $textColor, center);
      margin: 32px 0 65px;
    }

    .inputContainer {
      @include flexSuperCenter();
      flex-direction: column;
      position: relative;

      .eye {
        width: 22px;
        height: 15px;
        position: absolute;
        right: 42px;
        bottom: 27px;
        cursor: pointer;
      }

      .inputPassword {
        @include text($fontFamilyText, 16px, 400, 24px, $textColor, left);
        width: 80%;
        background: $bgCard;
        border: none;
        border-bottom: solid #c8d2e3 2px;
        outline: none;
        padding: 0;
      }
    }

    .note{
      @include text($fontFamilyText, 16px, 400, 24px, $textColor, center);
      width: 80%;
      margin: 30px auto 60px;
    }
    .buttonContainer {
      text-align: center;
      margin-bottom: 60px;

      .button {
        @include primaryButton();

        span {
          @include primaryButtonText(9px 55px);
        }
      }
    }

  }
}