@import "src/n1-main/m1-ui/common/styles/sass/variables";
@import "src/n1-main/m1-ui/common/styles/sass/mixins";


.checkPasswordContainer {
  height: 100vh;
  background: $bgColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    flex-basis: 413px;
    background: $bgCard;
    border-radius: 8px;

    .title {
      @include text($fontFamilyTitle, 26px, 600, 39px, $textColor, center);
      margin: 25px 0 32px;
    }

    .imgContainer{
      display: flex;
      justify-content: center;
    }

    .subtitle {
      @include text($fontFamilyTitle, 22px, 600, 33px, $textColor, center);
      margin: 32px 0 54px;
    }

    .note{
      @include text($fontFamilyText, 16px, 400, 24px, $textColor, center);
      width: 80%;
      margin: 30px auto 90px;
    }
  }
}