@import "src/n1-main/m1-ui/common/styles/sass/variables";
@import "src/n1-main/m1-ui/common/styles/sass/mixins";


.packlistContainer {
  min-height: 100vh;
  background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
  border-top: solid 1px #E6D4DE;

  .card {
    width: 80%;
    margin: 24px auto;
    background: #FEFEFF;
    border-radius: 8px;
    display: flex;

    .info {
      width: 25%;
      background: #ECECF9;
      border-radius: 8px 0 0 8px;
      border-bottom: solid 1px transparent;
      padding: 33px 24px;

      .ownerTitle {
        @include text($fontFamilyText, 16px, 600, 19px, $textColor, left);
        margin: 0 0 20px;
      }

      .buttonsContainer {
        width: 100%;
        display: flex;

        button {
          @include text($fontFamilyText, 14px, 400, 17px, $textColor, center);
          display: block;
          flex-basis: 50%;
          height: 36px;
          margin-bottom: 45px;
          border: none;
          cursor: pointer;
          background: white;
        }
        button:hover, .active{
          color: white;
          background: #9A91C8;
        }

        .myButton{
          border-radius: 5px 0 0 5px;
          border-right: solid 2px #635D80;
        }
        .allButton{
          border-radius: 0 5px 5px 0;
        }
      }

      .numberTitle {
        @include text($fontFamilyText, 16px, 600, 19px, $textColor, left);
        margin: 0 0 24px;
      }
    }

    .packslist {
      padding: 24px 48px;
      width: 100%;

      .packslistTitle {
        @include text($fontFamilyTitle, 22px, 600, 33px, $textColor, left);
        margin: 0 0 15px;
      }

      .search_AddButtonContainer {
        display: flex;
        margin-bottom: 24px;

        .search {
          @include text($fontFamilyText, 13px, 600, 16px, $textColor, left);
          flex-grow: 2;
          display: block;
          outline: none;
          padding: 0 5px;
          background: #ECECF9;
          border: 1px solid #635D80;
          border-radius: 5px;
        }

        .addButtonContainer {
          text-align: center;

          .addPackButton {
            @include primaryButton();
            margin-left: 24px;

            span {
              @include primaryButtonText(9px 40px);
            }
          }
        }

      }

    }

  }
}