@import "src/n1-main/m1-ui/common/styles/sass/variables";
@import "src/n1-main/m1-ui/common/styles/sass/mixins";


.cardslistContainer {
  min-height: 100vh;
  background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
  border-top: solid 1px #E6D4DE;

  .card {
    width: 80%;
    margin: 24px auto;
    background: #FEFEFF;
    border-radius: 8px;
    display: flex;

    .cardslist {
      padding: 24px 48px;
      width: 100%;

      .cardslistTitle {
        @include text($fontFamilyTitle, 22px, 600, 33px, $textColor, left);
        margin: 0 0 15px;
      }

      .search_AddButtonContainer {
        display: flex;
        margin-bottom: 24px;

        .search {
          @include text($fontFamilyText, 13px, 600, 16px, $textColor, left);
          flex-grow: 2;
          display: block;
          outline: none;
          padding: 0 5px;
          background: #ECECF9;
          border: 1px solid #635D80;
          border-radius: 5px;
        }

        .addButtonContainer {
          text-align: center;

          .addPackButton {
            @include primaryButton();
            margin-left: 24px;

            span {
              @include primaryButtonText(9px 40px);
            }
          }
        }

      }

    }

  }
}