$elementsColor: #21268F;
$bgColor: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
$sidebarColor: #ECECF9;
$bgCard: #F9F9FE;
$textColor: #2D2E46;
$fontFamilyTitle: 'Poppins', sans-serif;
$fontFamilyText: 'Red Hat Display', sans-serif;


